.header{

    display: flex;
    align-items: center;
    background-color:#252525 ;
    justify-content: space-between;
    height:6rem;
    position: sticky;
    z-index:1;
    top:0;
}
.header__left{
display: flex;
align-items: center;
}
.headerSearch__container{
    display: flex;
    align-items: center;
    flex: 1;
    
}
.header__right{
    display: flex;
    align-items: center;
    margin-right:2rem;
}
.header__left>.MuiSvgIcon-root{
    color: white;
    font-size:2.3rem;
    margin:0 3rem;
    cursor: pointer;
}
.headerSearch__icon>.MuiSvgIcon-root{
    color: #727272;
    cursor: pointer;

}
.header__right>.MuiSvgIcon-root{
    color:white;
    margin:0 2rem;
    font-size:2.3rem;
    padding-bottom:0;
    cursor: pointer;
}
.headerSearch__icon>.search_icon{
    color: #727272;
 
    
}

.logo{

    width:90px;
    height:90px;
    object-fit: contain;
    cursor: pointer;
}
.headerSearch__container>input[type=text]{
    border:0.5px solid #72727285;;
    color: #DDDDDD;
    font-size: 1.5rem;
    background-color:#121212;
    width:100%;
    height:3rem;
    padding-left:2rem;

    
}
.headerSearch__container>input:focus{
    outline: 1px solid gray;
    z-index: 1;
    padding-right:20rem;
    
}
.headerSearch__container>input::placeholder{
    padding-left:1rem;
}
.header__center{
    flex:0.6;
}
.headerSearch__icon{

    background-color:#363636;
    height:3rem;
    width:5rem;
    border:0.2px solid #72727285;;
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.header__right>.avatar{
    cursor: pointer;   
}